
.page-layout {
  &__header {

  }

  @media (min-width: 940px) {
    &__sidebar {
      position: fixed;
      width: 225px;
      top: 0;
      bottom: 0;
      padding: 40px 20px;
    }

    &__mainbar {
      margin-left: 225px;
    }
  }

  &__content {
    padding: 40px 60px;
  }

  &__footer {
    padding: 40px;
  }
}

.user-logged-in {
  .page-layout__sidebar {
    top: 79px;
  }
}