.three-columns {

  &__item {
    margin-bottom: 50px;
  }

  @media (min-width: 960px) {
    overflow: hidden;
    margin: 0 -50px;

    &__item {
      width: 33.33%;
      float: left;
      padding: 0 50px;
    }
  }

  @media (min-width: 540px) and (max-width: 959px) {
    overflow: hidden;
    margin: 0 -30px;

    &__item {
      width: 50%;
      float: left;
      padding: 0 30px;
    }
  }
}
