
body,html {
  min-height: 100%;
}

body {
  background: image_url('bg.jpg') fixed center no-repeat;
  background-size: cover;
  font-weight: 500;
  font-size: 14px;
  outline-color: rgb(102, 102, 102);
  -webkit-font-smoothing: antialiased;
}
