h1, h2, h3, h4, h5, h6 {
  outline-color: rgb(51, 51, 51);
  font-weight: 500;

  &, a {
    color: #333;
  }
}

h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 1.3em;
  margin: 30px 0;
}

.path-frontpage {
  h1 {
    text-align: center;
  }
}
