{#
/**
 * @file
 * Theme override to display a single page.
 */
#}
<div class="page-width">
  <div class="page-layout">

    <aside class="page-layout__sidebar">
      {{ page.sidebar }}
    </aside>

    <div class="page-layout__mainbar">

      <header role="page-layout__header">
        {{ page.header }}
      </header>

      <main role="main">
        <a id="main-content" tabindex="-1"></a>

        <div class="page-layout__content">
          {{ page.content }}
        </div>
      </main>

      <footer class="page-layout__footer" role="contentinfo">
        {{ page.footer }}
      </footer>
    </div>

  </div>
</div>