/* line 5, ../../../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/base/_responsive.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 7, ../sass/base/_responsive.scss */
* {
  box-sizing: border-box;
}

/* line 11, ../sass/base/_responsive.scss */
.messages {
  margin: 40px 0;
}

/* line 1, ../sass/base/_headings.scss */
h1 {
  margin-bottom: 50px;
}

/* line 1, ../sass/base/_lists.scss */
p + ul {
  margin: 1em 0;
  padding-left: 2em;
  line-height: 1.3em;
}
/* line 6, ../sass/base/_lists.scss */
p + ul li {
  list-style-type: disc;
}

@media (min-width: 940px) {
  /* line 8, ../sass/layouts/_page-layout.scss */
  .page-layout__sidebar {
    position: fixed;
    width: 225px;
    top: 0;
    bottom: 0;
    padding: 40px 20px;
  }
  /* line 16, ../sass/layouts/_page-layout.scss */
  .page-layout__mainbar {
    margin-left: 225px;
  }
}
/* line 21, ../sass/layouts/_page-layout.scss */
.page-layout__content {
  padding: 40px 60px;
}
/* line 25, ../sass/layouts/_page-layout.scss */
.page-layout__footer {
  padding: 40px;
}

/* line 31, ../sass/layouts/_page-layout.scss */
.user-logged-in .page-layout__sidebar {
  top: 79px;
}

/* line 2, ../sass/layouts/_page-width.scss */
.page-width {
  max-width: 1425px;
  margin: 0 auto;
}

/* line 3, ../sass/layouts/_three-columns.scss */
.three-columns__item {
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 1, ../sass/layouts/_three-columns.scss */
  .three-columns {
    overflow: hidden;
    margin: 0 -50px;
  }
  /* line 11, ../sass/layouts/_three-columns.scss */
  .three-columns__item {
    width: 33.33%;
    float: left;
    padding: 0 50px;
  }
}
@media (min-width: 540px) and (max-width: 959px) {
  /* line 1, ../sass/layouts/_three-columns.scss */
  .three-columns {
    overflow: hidden;
    margin: 0 -30px;
  }
  /* line 22, ../sass/layouts/_three-columns.scss */
  .three-columns__item {
    width: 50%;
    float: left;
    padding: 0 30px;
  }
}

/* line 1, ../sass/components/_branding.scss */
.site-logo {
  margin: 0 0 30px 0;
  display: block;
}

/* line 1, ../sass/components/_video.scss */
iframe {
  margin-bottom: 30px;
  max-width: 100%;
}

/* line 1, ../sass/components/_pager.scss */
.pager {
  clear: both;
  text-align: center;
}

/* line 1, ../sass/components/_featured-teaser.scss */
.featured-teaser {
  height: 272px;
}
/* line 5, ../sass/components/_featured-teaser.scss */
.featured-teaser__image img {
  display: block;
}
/* line 10, ../sass/components/_featured-teaser.scss */
.featured-teaser__title {
  text-align: center;
  margin: 20px 0 10px 0;
}
/* line 15, ../sass/components/_featured-teaser.scss */
.featured-teaser__summary {
  text-align: center;
}
/* line 18, ../sass/components/_featured-teaser.scss */
.featured-teaser__summary p:after {
  content: '...';
}

/* line 1, ../sass/components/_hero-banner.scss */
.hero-banner,
.region-header .block-block-content {
  overflow: hidden;
  position: relative;
}
/* line 6, ../sass/components/_hero-banner.scss */
.hero-banner__image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 14, ../sass/components/_hero-banner.scss */
.hero-banner__content {
  padding: 60px 30px;
  position: relative;
  z-index: 5;
}
@media all and (min-width: 800px) {
  /* line 14, ../sass/components/_hero-banner.scss */
  .hero-banner__content {
    float: left;
    width: 50%;
  }
}
/* line 24, ../sass/components/_hero-banner.scss */
.hero-banner__logo {
  position: relative;
  z-index: 5;
}
@media all and (min-width: 800px) {
  /* line 24, ../sass/components/_hero-banner.scss */
  .hero-banner__logo {
    float: left;
    width: 37%;
    padding: 38px 70px;
  }
}
