.featured-teaser {
  height: 272px;

  &__image {
    img {
      display: block;
    }
  }

  &__title {
    text-align: center;
    margin: 20px 0 10px 0;
  }
  
  &__summary {
    text-align: center;

    p:after {
      content: '...';
    }
  }
}
