.hero-banner,
%hero-banner {
  overflow: hidden;
  position: relative;

  &__image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__content {
    padding: 60px 30px;
    position: relative;
    z-index: 5;
    @media all and (min-width: 800px) {
      float: left;
      width: 50%;
    }
  }

  &__logo {
    position: relative;
    z-index: 5;
    @media all and (min-width: 800px) {
      float: left;
      width: 37%;
      padding: 38px 70px;
    }
  }
}

.region-header .block-block-content {
  @extend %hero-banner;
}
