.button {
  display: inline-block;
  padding: 11px 22px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;

  &:hover {
    background: rgba(0, 0, 0, 0.25);
  }
}