
.hero-banner,
%hero-banner {
  background-color: #25144b;

  &__content {
    font-size: 1.3em;
    color: #FFF;
    font-weight: 500;
  }
}

.region-header .block-block-content {
  @extend %hero-banner;
}
