.menu--main {
  ul {
    li {
      a {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #484848;

        &:hover {
          background-color: #212121;
          color: #FFF;
        }
      }

      &:last-child {
        a {
          border-bottom: 0;
        }
      }
    }
  }
}
