/* line 1, ../sass/base/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  outline-color: #333333;
  font-weight: 500;
}
/* line 5, ../sass/base/_headings.scss */
h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
  color: #333;
}

/* line 10, ../sass/base/_headings.scss */
h1 {
  font-size: 2.1em;
}

/* line 14, ../sass/base/_headings.scss */
h2 {
  font-size: 1.3em;
  margin: 30px 0;
}

/* line 20, ../sass/base/_headings.scss */
.path-frontpage h1 {
  text-align: center;
}

/* line 2, ../sass/base/_fonts.scss */
body {
  font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
  color: #666;
  font-weight: 500;
}

/* line 8, ../sass/base/_fonts.scss */
a {
  text-decoration: none;
}

/* line 12, ../sass/base/_fonts.scss */
p {
  line-height: 1.7em;
}

/* line 2, ../sass/base/_body.scss */
body, html {
  min-height: 100%;
}

/* line 6, ../sass/base/_body.scss */
body {
  background: url('../images/bg.jpg?1420827651') fixed center no-repeat;
  background-size: cover;
  font-weight: 500;
  font-size: 14px;
  outline-color: #666666;
  -webkit-font-smoothing: antialiased;
}

/* line 2, ../sass/base/_table.scss */
table tr {
  border-bottom: 1px solid #EEE;
}
/* line 5, ../sass/base/_table.scss */
table tr td {
  padding: 20px 20px 20px 0;
}
/* line 9, ../sass/base/_table.scss */
table tr:last-child {
  border: 0;
}

/* line 2, ../sass/layouts/_page-layout.scss */
.page-layout__sidebar {
  background-color: #262626;
  text-align: center;
}
/* line 6, ../sass/layouts/_page-layout.scss */
.page-layout__sidebar a, .page-layout__sidebar {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  font-size: 14px;
}
/* line 14, ../sass/layouts/_page-layout.scss */
.page-layout__mainbar {
  background: #FFF;
}
/* line 18, ../sass/layouts/_page-layout.scss */
.page-layout__footer {
  background-color: #222222;
}
/* line 21, ../sass/layouts/_page-layout.scss */
.page-layout__footer a, .page-layout__footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  font-size: 14px;
}

/* line 4, ../sass/components/_menu.scss */
.menu--main ul li a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #484848;
}
/* line 9, ../sass/components/_menu.scss */
.menu--main ul li a:hover {
  background-color: #212121;
  color: #FFF;
}
/* line 16, ../sass/components/_menu.scss */
.menu--main ul li:last-child a {
  border-bottom: 0;
}

/* line 1, ../sass/components/_button.scss */
.button {
  display: inline-block;
  padding: 11px 22px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}
/* line 9, ../sass/components/_button.scss */
.button:hover {
  background: rgba(0, 0, 0, 0.25);
}

/* line 2, ../sass/components/_hero-banner.scss */
.hero-banner,
.region-header .block-block-content {
  background-color: #25144b;
}
/* line 6, ../sass/components/_hero-banner.scss */
.hero-banner__content {
  font-size: 1.3em;
  color: #FFF;
  font-weight: 500;
}
