.page-layout {
  &__sidebar {
    background-color: #262626;
    text-align: center;

    a,
    & {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 300;
      font-size: 14px;
    }
  }

  &__mainbar {
    background: #FFF;
  }

  &__footer {
    background-color: #222222;

    a,
    & {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 300;
      font-size: 14px;
    }
  }
}
